body{
    background-image:url("notebook.webp");
    padding-left: 10px;
background-size: cover;
/* background-color: rgb(218, 125, 125); */

}
input{
    height: 30px;
    width: 250px;
    background-color: rgb(132, 219, 132);
    border: 5px solid black;
    border-radius: 5px;
}
button{
    background-color:yellowgreen;
    color:blue;
    height: 30px;
    width: 100px;
    border: 4px solid black;
 border-radius: 4px;
 margin-left: 10px;
 
}
.delete{
    margin-left: 10px;
}
li{
    margin-bottom: 5px;
    border: 2px solid black;
    background-color: rgb(228, 171, 200);
    width: 80%;
    border-radius: 10px;
}
input:hover{
    box-shadow: 10px 5px 5px red;
}
button:hover{
    box-shadow:
    inset 0 -3em 3em rgb(0 200 0 / 30%),
    0 0 0 2px white,
    0.3em 0.3em 1em rgb(200 0 0 / 60%);
}
li:hover{
    box-shadow:
    inset 0 -3em 3em rgb(0 200 0 / 30%),
    0 0 0 2px white,
    0.3em 0.3em 1em rgb(200 0 0 / 60%);
}
.delete{
    margin-left: 520px;
}
